{% macro renderPost(post, loop) %}
    <div class="blog-post {% if not loop.last %}border-bottom{% endif %} mb-3 pb-3">
        <h2 class="blog-post-title">
            <a href='{{ path('post.view', {slug: post.getSlug()}) }}'>
                {{ post.getTitle() }}
            </a>
        </h2>
        <p class="blog-post-meta">{{ post.getCreatedAt() | date('d F, Y') }} by {{ post.getCreatedBy().getName() }}</p>

        {{ post.getText() | raw }}
    </div><!-- /.blog-post -->
{% endmacro %}
