{% extends 'admin_layout.html.twig' %}

{% block title title %}

{% block content %}
{{ form_start(form) }}
{{ form_row(form.title) }}
{{ form_row(form.slug) }}
{{ form_row(form.draft) }}
{{ form_row(form.text) }}
<button class='btn btn-success'>Save</button>
{{ form_end(form) }}
{% endblock %}
